#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headstyle {
  width: 100%;
  height: 80px; /* Adjust the height of the bar */
  background-color: #2e2a2a;
  position: fixed; /* Fix it to the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
}
.titletext {
  font-size: 60px;
  color: seagreen;
  margin-top: 0;
}

.containerStyle {
  width: 100%;
  display: flex;
  height: 50px;
  justifyContent: space-between;
  alignItems: center;
  font-size: 40px;
  font-family: "Inter";
}

.buttonStyle {
  background-color: darkgray;
  color: black;
  fontSize: 20px;
  padding: 0 15px;
  margin-left: 10px;
}

.maincontent{
  marginTop: 100 px ;
  textAlign: center;
}


